{% extends "base.html" %}


{% block title %}Index|Tweet{% endblock %}

{% block content %}
	{% if not request.GET.q %}
		<div class="row">
			{% include "home/content_form.html" with form=create_form action_url=create_url btn_title="tweet" %}
		</div>
	{% endif %}
	<hr>
	<br>
	<br>
			{% for t in object_list %}
				<div class="media">
				  <img class="mr-3" src=".../64x64" alt="userImage">
				  <div class="media-body">
				    <h5 class="mt-0">{{ t.user }} <br></h5>
				    {{ t.content }}| 
				    <small>
				    	Publicated:{{ t.timestamp|timesince }} ago| <a href="{% url 'Detail_Tweet_view' t.pk %}">View</a> <br>	
						<br>
						<br>
				    </small>
				  </div>
				</div>	
				<hr>
			{% empty %}
			No Tweet yet!
			{% endfor %}

{% endblock %}