{% extends "base.html" %}

{% block title %}ListTweet{% endblock %}

{% block script %}
	<script type="text/javascript">
		function getParameterByName(name, url) {
    		if (!url) url = window.location.href;
    			name = name.replace(/[\[\]]/g, '\\$&');
    		var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        	results = regex.exec(url);
    		if (!results) return null;
    		if (!results[2]) return '';
    		return decodeURIComponent(results[2].replace(/\+/g, ' '));
		}


		$(document).ready(function(){
		
		var query = getParameterByName('q')
			//console.log(query)
			var tweetList = []
			var nextTweetUrl;
			

		function updateHashLinks(){
			$(".media-body").each(function(data){
				var hashtagRegex = /(^|\s)?#([\w\d-]+)/g
				var newText = $(this).html().replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
				$(this).html(newText)
			})
		}


		function attachTweet(tweetValue, prepend, retweet){
			var tweetUser = tweetValue.user
			//var isRetweet = tweetValue.is_retweet
			var tweetContent = tweetValue.content
			var tweetDateDisplay = tweetValue.date_display
			//console.log(tweetValue.id)
			var tweetFormatedHtml
			console.log(tweetValue)
			if(retweet && tweetValue.parent){
				var mainTweet = tweetValue.parent
				tweetFormatedHtml = "<div class=\"media\"> <img class=\"mr-3\" src=\".../64x64\" alt=\"UserImage\"><div class=\"media-body\"> <span class='grey-color'>ReTweet via | " + tweetUser.username + " on" + mainTweet.date_display + "</span><br>" + " <h5 class=\"mt-0\">" + "<a href='" + mainTweet.user.url + "'> " + mainTweet.user.username + " </a> " + " <br></h5>" + mainTweet.content + "<small> Publicated: |" + mainTweet.date_display + "| ago | <a href='/tweet/detail_tweet/" + mainTweet.id +" '>view</a><br></small> </div> </div> <hr>"
			}else{
				tweetFormatedHtml = "<div class=\"media\"> <img class=\"mr-3\" src=\".../64x64\" alt=\"UserImage\"><div class=\"media-body\"><h5 class=\"mt-0\">" + "<a href='" + tweetUser.url + "'> " + tweetUser.username + " </a> " + " <br></h5>" + tweetContent + "<small> Publicated: |" + tweetDateDisplay + "| ago | <a href='/tweet/detail_tweet/" + tweetValue.id +" '>view</a><br></small> </div> </div> <hr>"
			}


			
			if (prepend==true) {
				$("#tweet-container").prepend(tweetFormatedHtml)
			}
			else{
				$("#tweet-container").append(tweetFormatedHtml)	
			}
			
		}


		function parseTweets(){
			if (tweetList == 0){
				$("#tweet-container").text("Not Tweet Found")
			}
			else{
				$.each(tweetList, function(key, value){
					//console.log(key)
					//console.log(value.user)
					//console.log(value.content)
					var tweetKey = key;
					if(value.parent){
						attachTweet(value, false, true)
					}else{
						attachTweet(value)
					}
					
					
					})

				}
			}

		function fetchTweet(url){
			var fetchUrl;
			if(!url){
				fetchUrl = "/api/tweet/"
			}
			else {
				fetchUrl = url
			}
				$.ajax({
					url: fetchUrl,
					method: "GET",
					data: {"q": query},

				success: function(data){
					console.log(data)
					tweetList = data.results
					if(data.next){
						nextTweetUrl = data.next	
					}
					else{
						$("#load_more_tweets").css("display", "none")
					}
					parseTweets()
					updateHashLinks()
					},
				
				error: function(data){
					console.log("error")
					console.log(data)
					}
				})

			}

			fetchTweet()

			$("#load_more_tweets").click(function(event){
				event.preventDefault()
				// load more tweets
				if(nextTweetUrl){
					fetchTweet(nextTweetUrl)
				}
			})


			var charsStar = 256
			var charsCurrent = 0
			$("#tweet-form").append("<span id='tweetCharsLeft'>"+ charsStar +"</span>")
			$("#tweet-form textarea").keyup(function(event){
				var tweetValue = $(this).val()
				var spanClass = $("#tweetCharsLeft")
				charsCurrent = charsStar - tweetValue.length

				spanClass.text(charsCurrent)

				if (charsCurrent > 0){
					// class black
					spanClass.removeClass("red-color")
					spanClass.removeClass("grey-color")
				}

				if (charsCurrent == 0){
					// class gray
					spanClass.removeClass("red-color")
					spanClass.addClass("grey-color")
				}

				if (charsCurrent < 0){
					// class red
					spanClass.removeClass("grey-color")
					spanClass.addClass("red-color")
				}


			})


			$("#tweet-form").submit(function(event){
				event.preventDefault()
				var this_ = $(this)
				//console.log(event)
				//console.log(this_)
				var formData = this_.serialize()
				//fetchTweet()

				$.ajax({
				 	url: "/api/tweet/create/",
				 	data: formData,
				 	method: "POST",
				 	success: function(data){
				 		this_.find("input[type=text],textarea").val("")
				 		//console.log(data)
				 		//fetchTweet()
				 		attachTweet(data,true)
				 		updateHashLinks()
				 	},
			 	error: function(data){
			 		console.log("error")
			 		console.log(data.statusText)
					console.log(data.status)
			 	}
		 })
		})	
		
	});

		
	</script>
{% endblock %}

{% block content %}

			{% if not request.GET.p %}
				<div class="">
					{% include "tweets/form_create.html" with form=create_form action_url=create_url btn_title="Tweet" form_id="tweet-form"%}	
				</div>
			{% endif %}
		<hr>

<div id="tweet-container">
	
</div>

<a href="#" id="load_more_tweets">LoadMoreTweets</a>
			
{% endblock %}

