{% extends "base.html" %}

{% block title %}ListTweet{% endblock %}

{% block content %}
	<table class="table .table-strip">
		<thead>
			<th>User</th>
			<th>IdTweet</th>
			<th>Content</th>
			<th>TimeStamp</th>
			<th></th>
			<th>Actions</th>
			<th></th>
			{% for t in object_list %}
				<tr>
					<td>{{ t.user }}</td>
					<td>{{ t.id }}</td>
					<td>{{ t.content }}</td>
					<td>{{ t.timestamp }}</td>
					<td> <a href="{% url 'Detail_Tweet_view' t.pk %}" class="btn btn-primary">Detail</a> </td>
					<td> <a href="{% url 'Update_Tweet_view' t.pk %}" class="btn btn-warning">Update</a></td>
					<td> <a href="{% url 'Delete_Tweet_view' t.pk %}" class="btn btn-danger">Delete</a></td>
				</tr>
			{% empty %}
			No Tweet yet!
			{% endfor %}
		</thead>
	</table>
{% endblock %}