{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <link href="{% static  'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">
        .red-color{
            color:red;
        }
        .black-color{
            color:black;
        }
        .grey-color{
            color:#ccc;
        }
    </style>

  </head>
  <body>
    
    {% include "navbar.html" %}
   
    <div class="container">
        {% block content %}
    
        {% endblock %}     
    </div>

    



   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'bootstrap4/js/jquery.js' %}"></script>
    {% block script %} {% endblock %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->



    <script type="text/javascript">
        $(document).ready(function(){
            var typingTimer;
            var doneInterval = 300; // ms
            var searchInput = $("#nav-bar-form input[type=search]")
            var searchQuery;

            searchInput.keyup(function(event){
                searchQuery = $(this).val()

                clearTimeout(typingTimer)
                typingTimer = setTimeout(doneSearchingTyping, doneInterval)
               
            })

            searchInput.keydown(function(event){
              clearTimeout(typingTimer)  
            })


            function doneSearchingTyping(){
                if (searchQuery){
                    var url = "/tweet/search?q=" + searchQuery
                    document.location.href = url;
                }
            }

        });
    </script>











  </body>
</html>