Django==2.1.1
django-crispy-forms==1.7.2
django-filter==2.0.0
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.8.2
psycopg2==2.7.6.1
pytz==2018.7
whitenoise==4.1.2
dj-database-url==0.5.0
gunicorn==19.9.0
Markdown==3.0.1
Pillow==4.2.1